fastapi
uvicorn[standard]

sqlalchemy
pymysql
alembic

python-dotenv

passlib[bcrypt]
python-jose[cryptography]

pydantic
pydantic-settings

openai

langchain
langchain-openai
langchain-community
langchain-text-splitters

chromadb

pypdf

python-multipart

tiktoken

httpx

orjson